HTTP_PORT=8085                                          # this is the port that the web server will listen on
HTTP_ADDRESS="192.168.0.97"                             # this is the address that the web server will bind to. DO NOT USE localhost, use the actual IP address of the machine
DLNA_FRIENDLY_NAME="RustCast"                           # this is the name that will be displayed in the list of DLNA servers
MULTICAST_ADDRESS="239.255.255.250"                     # this is the multicast address that the server will listen on DO NOT CHANGE THIS if you don't know what you're doing
MULTICAST_PORT=1900                                     # this is the multicast port that the server will listen on DO NOT CHANGE THIS if you don't know what you're doing
MEDIA_DIRECTORY="C:/Users/someuser/folder/media-folder" # this is the full path to the directory that contains the media files that you want to serve